@import "variables";

::selection {
  background-color: $selection-grey;
}

body {
  color: $primary-dark;

  .navbar {
    font-family: "Roboto", serif;
    font-weight: bold;
  }

  .main-title {
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: $main-title-size;

    .colored-text {
      color: $primary;
    }
  }

  .form-container {
    max-width: 998px;
    margin: auto;
  }

  .button {
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: bold;
  }

  .modal-card-head, .modal-card-foot {
    background: white;
  }

  .notification {
    top: 100px;
  }
}

// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";
