@import "variables";

::selection {
  background-color: $selection-grey;
}

body {
  color: $main-grey;

  .navbar {
    font-family: "Roboto", serif;
    font-weight: bold;
  }

  .main-title {
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: $main-title-size;

    .colored-text {
      color: $main-blue;
    }
  }

  .form-container {
    max-width: 998px;
    margin: auto;
  }
}
